$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-under:'(max-width: 375px)';

$navbar-web-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$app-main-text-color: #333;
$input-border-color: #0079bf;